img
{
    background-color: white;
}

.img-fluid
{
    width: 100%;
    height: auto;
}

.img-fluid:hover
{
    opacity: 0.5;
}

.form-group
{
    background-color: white;
}

button
{
    margin-top: 1%;
}