<!-- Estructura del encabezado de navegación -->
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <!-- Logo de la página -->
    <a class="navbar-brand" href="#">
      <img src="logoblanco.png" alt="Logo" class="logo">
    </a>
    <!-- Botón para desplegar menú en dispositivos móviles -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de navegación -->
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- Opción de menú "Ropa" -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/menu_ropa']">Ropa</a>
        </li>
        <!-- Opción de menú "Tatuajes" -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tatuajes']">Tatuajes</a>
        </li>
        <!-- Opción de menú "Contacto" -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
        </li>
      </ul>
      
      <!-- Bloque de inicio de sesión -->
      <ul class="navbar-nav loginblock">
        <!-- Menú desplegable para usuarios autenticados -->
        <li class="nav-item dropstart" *ngIf="isAuthenticated; else loginBlock">
          <div class="dropdown" *ngIf="user">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            <img class="account-image" 
            [src]="user.imagen ? user.imagen : 'https://static.vecteezy.com/system/resources/previews/007/335/692/original/account-icon-template-vector.jpg'" 
            alt="account image">
            
            {{ user.nombre }}
          </a>
          <!-- Menú desplegable con opciones adicionales -->
          <ul class="dropdown-menu">
             <!-- Opciones para usuarios normales -->
             <li><a class="dropdown-item" [routerLink]="['/cesta']"><i class="bi bi-person"></i> Mi perfil</a></li>
            <li><a class="dropdown-item" [routerLink]="['/cesta']"><i class="bi bi-cart"></i> Mi cesta</a></li>

            <div class="dropdown-divider"></div>
           
            <!-- Opciones para administradores -->
            <ng-container *ngIf="isAdmin">
              <li><strong>Admin:</strong></li>
              <li><a class="dropdown-item" [routerLink]="['/productos_admin']"><i class="bi bi-pencil"></i> Productos</a></li>
              <li><a class="dropdown-item" [routerLink]="['/gestion', 'tatuajes']"><i class="bi bi-pencil"></i> Tatuajes</a></li>
              <li><a class="dropdown-item" [routerLink]="['/gestion', 'informacion']"><i class="bi bi-pencil"></i> Información</a></li>

              <div class="dropdown-divider"></div>
            </ng-container>

            <li><a class="dropdown-item" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Cerrar sesión</a></li>
          </ul>
        </div>
        </li>
        <!-- Plantilla para el bloque de inicio de sesión -->
        <ng-template #loginBlock>
          <li class="nav-item">
            <a class="nav-link login-link" [routerLink]="['/auth']">Iniciar sesión</a>
          </li>
        </ng-template>
      </ul>
      
    </div>
  </nav>
</div>