<div class="container-fluid p-5">
    <h2 class="text-center m-4"><strong><i class="bi bi-cart"></i> Mi cesta:</strong></h2>
    <div class="row">   
      <!-- Contenido principal de productos -->
        <div class="row">

          <div *ngIf="!cestProducts || cestProducts.length === 0">
            <div class="card-body d-flex flex-column text-center bg-white">
              <h5 class="card-title  m-2">No hay productos en la cesta.</h5>
              <button [routerLink]="['/menu_ropa']" class="btn btn-warning">Iniciar la compra</button>
            </div>
          </div>

          <div type="button" class="estilo-card-productos m-1 p-2" *ngFor="let product of cestProducts" (click)="verMas(product)">
            <div class="product-image ropa-image justify-content-center align-items-center">
              <img [src]="product.producto.imagenes[0]" [alt]="product.producto.nombre">
            </div>
            <div class="card-body d-flex flex-column m-2">
              <h5 class="card-title">{{ product.cantidadProducto }} Uds</h5>
              <h4>
                <strong>
                <span>{{ product.producto.precio.toFixed(0) }}</span>
                  <sup>{{ product.producto.precio.toFixed(2).split('.')[1] }} €</sup>
                </strong>
              </h4>
            </div>
          </div>
        </div>
      </div>
  </div>