/* Estilo para filtros */
.filter-option {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    border: 1px solid;
    border-radius: 30px 30px 30px 30px;
    min-width: 100px;
  }

  /* Estilo de botón Restablecer */
  .restablecer {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s ease;
    margin-bottom: 5%;
    border-radius: 10px 10px 10px 10px;
    min-width: 125px;
  }
  
  /* Estilo de botones de filtros en hover */
  .filter-option:hover {
    background-color: #6e6e6e;
  }

  /* Estilo de botón Restablecer en hover */
  .restablecer:hover {
    background-color: #b4b4b4;
  }

  /* Estilo de botón seleccionado de filtros */
  .selected {
    background-color: #b4b4b4;
    color: black; /* Cambia el color del texto para que sea visible sobre el fondo azul */
  }

  /* Estilo de botón seleccionado de filtros en hover*/
  .selected:hover {
    background-color: #969696; /* Cambia el color de fondo al hacer hover sobre un filtro seleccionado */
  }

  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
  
  .estilo-card-productos-cesta {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
  }
  

  .estilo-card-productos-cesta img
  {
    width: 150px;
    height: 150px;
    
  }

  .animacion
  {
    transition: transform 0.3s;
    cursor: pointer;
  }

  .animacion:hover
  {
    transform: scale(1.1);
  }

  /* Ajuste del tamaño de la imagen en pantallas pequeñas */
@media (max-width: 768px) {
  .estilo-card-productos-cesta img {
    width: 100px;
    height: 100px;
  }

  /* Centrar textos en pantallas más pequeñas */
  .estilo-card-productos-cesta h5,
  .estilo-card-productos-cesta p,
  .estilo-card-productos-cesta h4 {
    text-align: center;
    margin: 5%
  }

  /* Ajustar el tamaño de los botones */
  .estilo-card-productos-cesta .btn {
    font-size: 0.75rem;
  }

  /* Alinear contenido en el centro */
  .estilo-card-productos-cesta {
    text-align: center;
  }
}
