  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
  
  .estilo-card-productos-cesta {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
  }
  

  .estilo-card-productos-cesta img
  {
    width: 150px;
    height: 150px;
    
  }

  .animacion
  {
    transition: transform 0.3s;
    cursor: pointer;
  }

  .animacion:hover
  {
    transform: scale(1.1);
  }

  /* Ajuste del tamaño de la imagen en pantallas pequeñas */
@media (max-width: 768px) {
  .estilo-card-productos-cesta img {
    width: 100px;
    height: 100px;
  }

  /* Centrar textos en pantallas más pequeñas */
  .estilo-card-productos-cesta h5,
  .estilo-card-productos-cesta p,
  .estilo-card-productos-cesta h4 {
    text-align: center;
    margin: 5%
  }

  /* Ajustar el tamaño de los botones */
  .estilo-card-productos-cesta .btn {
    font-size: 0.75rem;
  }

  /* Alinear contenido en el centro */
  .estilo-card-productos-cesta {
    text-align: center;
  }
}
