  /* Ajusta el tamaño del logo */
  .logo {
    max-width: 60px; 
    height: auto;
  }
  
  /* Estilo para los card */
  .card {
    border-radius: 1rem;
  }
  
  /* Ajuste de la anchura de los botones */
  .btn {
    width: 100%;
  }

  /* Estilo para botón de recuperación de contraseña que simula un enlace */
  .link-like {
    color: #007bff; /* Color típico de enlace */
    text-decoration: underline; /* Subrayado como los enlaces */
    cursor: pointer; /* Cambia el cursor a la mano */
  }
  
  /* Hover de botón de recuperación de contraseña */
  .link-like:hover {
    color: #0056b3; /* Color más oscuro al pasar el ratón */
    text-decoration: none; /* Quita el subrayado al pasar el ratón */
  }

  .password img
  {
    width: 150%;
    transition: 0.3s;
    border-radius: 50%;
  }

  .password
  {
    display: flex; 
    align-items: center;
  }

  .password input
  {
    flex:1;
  }

  .password button
  {
    flex: 0 0 10%;
    border: none;
    background-color: transparent;
    text-align: center;
  }

  .password img:hover
  {
    background-color: #a2adba;
  }

.password input[type="text"] + button
img {
    background-color: #7a828b;
}