<div class="volver" [routerLink]="['/menu_ropa']">
<i class="bi bi-arrow-left"> Volver</i>
</div>

<div *ngIf="product" class="container mt-5 bg-white">
  <div class="row">
    <!-- Columna de imágenes adicionales -->
    <div class="col-md-6 text-center">

    <img [src]="selectedImage" class="img-fluid" (click)="abrirImg()" alt="{{ product.nombreProducto }}">

      <div class="row">
        <div class="col-3" *ngFor="let imagen of product.imagenes; let i = index">
          <!-- Iterar sobre las imágenes del producto -->
          <img 
            [src]="imagen" 
            class="img-fluid" 
            [alt]="product.nombreProducto" 
            (click)="selectImage(imagen)">
        </div>        
      </div>
    </div>

    <!-- Columna de la descripción con botón "Comprar" -->
    <div class="col-md-6">
      <div class="row mb-2">
          <h2>{{ product.nombreProducto }}</h2>
          <h4>{{ product.descripcionCorta }}</h4>
          <p class="lead">{{ product.descripcionLarga }}</p>
          <!-- Dividir el precio en dos partes para aplicar estilos -->
          <h4>
            <span class="integer">{{ product.precio.toFixed(0) }}</span>
            <sup class="decimal">{{ product.precio.toFixed(2).split('.')[1] }} €</sup>
          </h4>

          <div class="form-group mt-3">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" class="form-control" [(ngModel)]="cantidad" min="1" max="99">
          </div>
          
          <div *ngIf="isAuthenticated; else loginMessage" class="mt-2">
            <button (click)="buy(product, cantidad)" class="btn btn-outline-success">Comprar</button>
            <button (click)="addCesta(product, cantidad)" class="btn btn-outline-warning">Añadir a la cesta</button>
          </div>
          
          <!-- Mensaje si no está autenticado -->
          <ng-template #loginMessage class="text-center mt-4">
            <p>Para iniciar la compra, <a [routerLink]="['/auth']">inicie sesión</a>.</p>
          </ng-template>
      </div>
    </div>
  </div>
</div>
