<div class="container mt-5">
    <h2 class="text-center mb-4"><i class="bi bi-bag-fill"></i> Mis Pedidos:</h2>
  
    <!-- Mostrar pedidos -->
    <div *ngIf="pedidos.length > 0">
      <div *ngFor="let pedido of pedidos" class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Núm. Pedido: {{ pedido.id }}</h5>
          <p class="card-text"><strong>Fecha:</strong> {{ pedido.fecha | date:'dd/MM/yyyy' }}</p>
                    <!-- Mostrar lista productos = Ticket -->
  
          <!-- Lista de productos en el pedido -->
          <ul>
            <li *ngFor="let producto of pedido.productos">
              <strong>Producto:</strong> {{ producto.producto.descripcionCorta }} - <strong>Cantidad:</strong> {{ producto.cantidadProducto }} - <strong>Precio:</strong> {{ producto.producto.precio * producto.cantidadProducto | currency:'EUR':'symbol':'1.2-2' }}
            </li>
          </ul>

          <p>Total: {{ pedido.total | currency:'EUR':'symbol':'1.2-2' }}</p>
        </div>
      </div>
    </div>
  
    <!-- Mensaje si no hay pedidos -->
    <div *ngIf="pedidos.length === 0">
      <p>No se encontraron pedidos para este usuario.</p>
    </div>
  
</div>  