<div class="container mt-5">
    <h2 class="text-center mb-4 bg-white"><i class="bi bi-bag"></i> Mis Pedidos:</h2>
  
    <!-- Mostrar pedidos -->
    <div *ngIf="pedidos.length > 0">
      <div *ngFor="let pedido of pedidos" class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><strong>Núm. Pedido:</strong> {{ pedido.id }}</h5>
          <p class="card-text"><strong>Fecha:</strong> {{ pedido.fecha | date:'dd/MM/yyyy' }}</p>
                    <!-- Mostrar lista productos = Ticket -->
  
          <!-- Lista de productos en el pedido -->
          <ul>
            <li *ngFor="let producto of pedido.productos">
              <strong>Producto:</strong> {{ producto.producto.descripcionCorta }} - 
              <strong>Cantidad:</strong> {{ producto.cantidadProducto }} 
              <ng-container *ngIf="producto.cantidadProducto > 1">unidades</ng-container>
              <ng-container *ngIf="producto.cantidadProducto <= 1">unidad</ng-container> - 
              <strong>Precio:</strong> {{ (producto.producto.precio * producto.cantidadProducto) | currency:'EUR':'symbol':'1.2-2' }}
            </li>
          </ul>

          <p><strong>Total:</strong> {{ pedido.total | currency:'EUR':'symbol':'1.2-2' }}</p>
        </div>
      </div>
    </div>
  
    <!-- Mensaje si no hay pedidos -->
    <div class="text-center bg-white" *ngIf="pedidos.length === 0">
      <h2>No se encontraron pedidos para este usuario.</h2>
    </div>
  
</div>  