<div class="container-fluid m-3">
  <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Contenido -->
        <h2><strong>Contacto</strong></h2>
        <p>Contacta con {{informacion.nombreEmpresa}} a través de las redes sociales o directamente a través de teléfono. También puedes encontrar el local en Google Maps.</p>
        <div class="contact-info">
            <h3><strong>Información de contacto:</strong></h3>
            <p><i class="bi bi-whatsapp"></i> <a href="https://wa.me/{{informacion.telefono}}"> {{informacion.telefono}}</a></p>
            <p><i class="bi bi-envelope-at"></i> <a href="mailto:{{informacion.email}}"> {{informacion.email}}</a></p>
            <p><i class="bi bi-instagram"></i> <a href="{{informacion.instagram}}" target="_blank"> Instagram</a></p>
            <p><i class="bi bi-geo-alt"></i> <a href="{{informacion.ubicacion}}" target="_blank"> Tienda {{informacion.nombreEmpresa}}</a></p>
        </div>
        <div class="mt-4">
            <h3><strong>Horarios de atención:</strong></h3>
            <p class="m-auto">{{informacion.horarioLaboral}}</p>
            <p class="mb-3">{{informacion.horarioDescanso}}</p>
        </div>
      </div>
  </div>
</div>