/* Contenedor de la imagen */
.image-container {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

/* Imagen de perfil */
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40%;
}

/* Ícono de cámara */
.camera-icon {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background-color: rgb(250, 250, 250);
  padding: 5px;
  border-radius: 40%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid rgb(0, 0, 0);
}

.camera-icon:hover {
  background-color: black;
  color: white;
}