<div class="container my-4">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow">
        <div class="card-body">

          <form [formGroup]="updateForm" (ngSubmit)="onSubmitUpdate()" *ngIf="user">
              
            <div class="mb-3 text-center">
              <label for="imagen" class="form-label">Foto de perfil</label><br>
              <div class="image-container" (click)="pickImg()">
                <img [src]="user.imagen ? user.imagen : 'emptyAccountImage.jpg'" class="img-fluid" alt="Foto de perfil">
              </div>
              <input #fileInput type="file" style="display: none;" (change)="handleFileChange($event)">
            </div>
                      
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <button type="button" class="btn btn-secondary w-100" (click)='changeEmail()' >Cambiar email</button>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                  
                <button type="button" class="btn btn-secondary w-100" (click)='changePassword()' >Cambiar contraseña</button>
              </div>

              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" class="form-control" formControlName="nombre">
                <div *ngIf="updateForm.get('nombre')!.invalid && updateForm.get('nombre')!.touched" class="text-danger">
                  El nombre es requerido.
                </div>
              </div>

              <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" id="apellidos" class="form-control" formControlName="apellidos">
                <div *ngIf="updateForm.get('apellidos')!.invalid && updateForm.get('apellidos')!.touched" class="text-danger">
                  Los apellidos son requeridos.
                </div>
              </div>

              <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="number" id="telefono" class="form-control" formControlName="telefono">
                <div *ngIf="updateForm.get('telefono')!.invalid && updateForm.get('telefono')!.touched" class="text-danger">
                  El teléfono es requerido y debe ser válido.
                </div>
              </div>

              <button type="submit" class="btn btn-outline-primary w-100 mb-1" [disabled]="updateForm.invalid || !isFormChanged()">Actualizar</button>
              <button type="button" class="btn btn-outline-danger w-100 mt-1" (click)='back()' >Cancelar</button>
            </form>

        </div>
      </div>
    </div>
  </div>
</div>